.hubdub-video video {
  height: 100% !important;
  width: 100% !important;
}

.hubdub-video {
  position: relative;
  max-width: 100%;
  height: auto;
}

.jp-player {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.jp-player video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hubdub-overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  padding: 10%;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  box-sizing: border-box;
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-size: 16px;
  font-size: inherit;
  font-family: inherit;
}
