
.jp-gui button, .jp-gui button:hover {
  box-shadow: 0 0 0;
  border-radius: 0;
}

.jp-audio *:focus,
.jp-audio-stream *:focus,
.jp-video *:focus {
  /* Disable the browser focus highlighting. */
  outline: none; }

.jp-audio button::-moz-focus-inner,
.jp-audio-stream button::-moz-focus-inner,
.jp-video button::-moz-focus-inner {
  /* Disable the browser CSS3 focus highlighting. */
  border: 0; }

.jp-audio,
.jp-audio-stream,
.jp-video {
  font-size: 16px;
  font-size: inherit;
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-family: inherit;
  line-height: 1.5;
  color: #999; }

.video-and-overlay-container {
  background: $black;
  position: relative;
}

.jp-audio {
  width: 420px; }

.jp-audio-stream {
  width: 182px; }

.jp-video-270p {
  width: 480px; }

.jp-video-360p {
  width: 640px; }

.jp-video-full {
  /* Rules for IE6 (full-screen) */
  width: 480px;
  height: 270px;
  /* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
  position: static !important;
  position: relative; }


.hubdub-video .jp-gui-play-icon {


  .jp-video-play {
    position: absolute;

    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
.jp-video-full div div {
  z-index: 1000; }

.jp-video-full .jp-jplayer {
  top: 0;
  left: 0;
  position: fixed !important;
  position: relative;
  /* Rules for IE6 (full-screen) */
  overflow: hidden; }

.jp-video-full .jp-gui {
  position: fixed !important;
  position: static;
  /* Rules for IE6 (full-screen) */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1001;
  /* 1 layer above the others. */ }

.jp-video-full .jp-interface {
  position: absolute !important;
  position: relative;
  /* Rules for IE6 (full-screen) */
  bottom: 0;
  left: 0; }

.jp-interface {
  position: relative;
  width: 100%; }

.jp-topbar {
  background: $background;
}

.jp-audio .jp-interface {
  height: 80px; }

.jp-audio-stream .jp-interface {
  height: 80px; }

.jp-video .jp-interface { }



/* @group CONTROLS */
.jp-controls-holder {
  clear: both;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s;-moz-transition: opacity .3s;-ms-transition: opacity .3s;-o-transition: opacity .3s;transition: opacity .3s;
  margin: 0 auto;
  position: relative;
  background:$background;
}

.jp-topbar:after {
  content: "";
  display: block;
  clear: both;
}

.jp-interface:hover .jp-controls-holder {
  opacity: 1;
}

.jp-interface .jp-controls {
  margin: 0;
  padding: 0;
  overflow: hidden; }

.jp-audio .jp-controls {
  width: 380px;
  padding: 20px 20px 0 20px; }

.jp-audio-stream .jp-controls {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 142px; }

.jp-video .jp-type-single .jp-controls {
  width: 78px;
  margin-left: 200px; }

.jp-video .jp-type-playlist .jp-controls {
  width: 134px;
  margin-left: 172px; }

.jp-video .jp-controls {
  float: left; }


.jp-play {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 10%;
  float: left;
}

.jp-play {
  background: url("../images/plainplay.svg") center center no-repeat $highlight;
  opacity: .8;
  -webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;
}

.jp-play:focus, .jp-play:hover {
  background: url("../images/plainplay.svg") center center no-repeat $highlight;
  opacity: 1;
}

.jp-state-playing .jp-play {
  background: url("../images/pause.svg") center center no-repeat $highlight;
  opacity: .8;
}

.jp-state-playing .jp-play:focus, .jp-state-playing .jp-play:hover {
  background: url("../images/pause.svg") center center no-repeat $highlight;
  opacity: 1;

}

.jp-stop, .jp-previous, .jp-next {
  width: 28px;
  height: 28px;
  margin-top: 6px; }

.jp-stop {
  background: url("../images/stop.svg") 0 0 no-repeat;
  margin-left: 10px; }

.jp-stop:focus {
  background: url("../images/stop.svg") 0 0 no-repeat; }

.jp-previous {
  background: url("../images/jplayer.blue.monday.jpg") 0 -112px no-repeat; }

.jp-previous:focus {
  background: url("../images/jplayer.blue.monday.jpg") -29px -112px no-repeat; }

.jp-next {
  background: url("../images/jplayer.blue.monday.jpg") 0 -141px no-repeat; }

.jp-next:focus {
  background: url("../images/jplayer.blue.monday.jpg") -29px -141px no-repeat; }

/* @end */
/* @group progress bar */
.jp-progress {
  overflow: hidden;
  background-color: $background;
  width: 80%;
  position: relative;
  float: left;
}

.jp-audio .jp-progress {
  position: absolute;
  top: 32px;
  height: 15px; }

.jp-audio .jp-type-single .jp-progress {
  left: 110px;
  width: 186px; }

.jp-audio .jp-type-playlist .jp-progress {
  left: 166px;
  width: 130px; }

.jp-video .jp-progress {
  top: 0px;
  left: 0px;
  height: 40px; }

.jp-seek-bar {
  background: $background;
  width: 100% !important;
  height: 100%;
  cursor: pointer; }

.jp-play-bar {
  background:$highlight;
  opacity: .8;
  width: 0;
  height: 100%;
  position: absolute;
  -webkit-transition: width .8s;-moz-transition: width .8s;-ms-transition: width .8s;-o-transition: width .8s;transition: width .8s;

}

/* The seeking class is added/removed inside jPlayer */
.jp-seeking-bg {
  background: $seekingbg; }

/* @end */
/* @group volume controls */
.jp-state-no-volume .jp-volume-controls {
  display: none; }

.jp-volume-controls {
  float: left;
  width: 60%;
  height: 27px;
}

.jp-audio-stream .jp-volume-controls {}

.jp-video .jp-volume-controls { }

.jp-volume-controls button {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  float: left;
  opacity: .5;
  -webkit-transition: opacity .2s;-moz-transition: opacity .2s;-ms-transition: opacity .2s;-o-transition: opacity .2s;transition: opacity .2s;
}

.jp-volume-controls button:hover, .jp-volume-controls button:focus {
  opacity: 1;
}

.jp-mute,
.jp-volume-max {
  width: 20%;
  height: 100%; }

.jp-volume-max { }

//default state mute button
.jp-mute {
  background: url("../images/audiooff.svg") center center no-repeat; }

//default state mute button
.jp-mute:hover {
  background: url("../images/audiooff.svg") center center no-repeat; }

//click mute volume button
.jp-mute:focus {
  background: url("../images/audiooff.svg") center center no-repeat; }

//active muted button
.jp-state-muted .jp-mute {
  background: url("../images/audiooff.svg") center center no-repeat;
  opacity: 1;
}

//active muted button hover
.jp-state-muted .jp-mute:hover {
  background: url("../images/audiooff.svg") center center no-repeat;
  opacity: 1;
}

//click mute button when already chosen
.jp-state-muted .jp-mute:focus {
  background: url("../images/audiooff.svg") center center no-repeat;
  opacity: .5;
}

//default state max volume button
.jp-volume-max {
  background: url("../images/audioon.svg") center center no-repeat; }

//click max volume button
.jp-volume-max:focus {
  background: url("../images/audioon.svg") center center no-repeat; }

//hover max volume button
.jp-volume-max:hover {
  background: url("../images/audioon.svg") center center no-repeat; }

//volume bar background
.jp-volume-bar {
  overflow: hidden;
  float: left;
  background: $volumebg;
  opacity: .8;
  width: 60%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: opacity .2s;-moz-transition: opacity .2s;-ms-transition: opacity .2s;-o-transition: opacity .2s;transition: opacity .2s;
}

.jp-volume-bar:hover {
  opacity: 1;
}

//volume level color
.jp-volume-bar-value {
  background: $highlight;
  width: 0px;
  height: 100%;
  -webkit-transition: width .2s;-moz-transition: width .2s;-ms-transition: width .2s;-o-transition: width .2s;transition: width .2s;
}

//clearfix the secondary controls
.jp-player-clear {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  width: 100%;
}

/* @end */
/* @group current time and duration */
.jp-audio .jp-time-holder {
  position: absolute;
  top: 50px; }

.jp-audio .jp-type-single .jp-time-holder {
  left: 110px;
  width: 186px; }

.jp-audio .jp-type-playlist .jp-time-holder {
  left: 166px;
  width: 130px; }

.jp-current-time,
.jp-duration {
  position: relative;
  z-index: 3;
  font-size: .64em;
  font-style: oblique;
  pointer-events: none;
  width: 15%;
  margin-top: 13px;
}

.jp-current-time {
  float: left;
  display: inline;
  cursor: default; }

.jp-duration {
  float: right;
  display: inline;
  text-align: right;
  cursor: pointer; }

.jp-video .jp-current-time {
  margin-left: 5%; }

.jp-video .jp-duration {
  margin-right: 5%; }

/* @end */
/* @group playlist */
.jp-details {
  font-weight: bold;
  text-align: center;
  cursor: default; }

.jp-details,
.jp-playlist {
  width: 100%;
  background-color: #ccc;
  border-top: 1px solid #009be3; }

.jp-type-single .jp-details,
.jp-type-playlist .jp-details {
  border-top: none; }

.jp-title {
  position: relative;
  z-index: 3;
  margin: 0;
  padding: 5px 20px;
  font-size: .72em;
  box-sizing: border-box;
  pointer-events:none;
  font-weight: bold;
  float: left;
  width: 60%;
  text-align: center;
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-family: inherit;

}

.jp-playlist ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;
  font-size: .72em; }

.jp-playlist li {
  padding: 5px 0 4px 20px;
  border-bottom: 1px solid #eee; }

.jp-playlist li div {
  display: inline; }

/* Note that the first-child (IE6) and last-child (IE6/7/8) selectors do not work on IE */
div.jp-type-playlist div.jp-playlist li:last-child {
  padding: 5px 0 5px 20px;
  border-bottom: none; }

div.jp-type-playlist div.jp-playlist li.jp-playlist-current {
  list-style-type: square;
  list-style-position: inside;
  padding-left: 7px; }

div.jp-type-playlist div.jp-playlist a {
  color: #999;
  text-decoration: none; }

div.jp-type-playlist div.jp-playlist a:hover {
  color: #0d88c1; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-current {
  color: #0d88c1; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove {
  float: right;
  display: inline;
  text-align: right;
  margin-right: 10px;
  font-weight: bold;
  color: #999; }

div.jp-type-playlist div.jp-playlist a.jp-playlist-item-remove:hover {
  color: #0d88c1; }

div.jp-type-playlist div.jp-playlist span.jp-free-media {
  float: right;
  display: inline;
  text-align: right;
  margin-right: 10px; }

div.jp-type-playlist div.jp-playlist span.jp-free-media a {
  color: #666; }

div.jp-type-playlist div.jp-playlist span.jp-free-media a:hover {
  color: #0d88c1; }

span.jp-artist {
  font-size: .8em;
  color: #666; }

/* @end */
.jp-video-play {
  width: 100%;
  overflow: hidden;
  /* Important for nested negative margins to work in modern browsers */
  cursor: pointer;
  background-color: transparent;
  /* Makes IE9 work with the active area over the whole video area. IE6/7/8 only have the button as active area. */ }

.jp-video-270p .jp-video-play {
  margin-top: -270px;
  height: 270px; }

.jp-video-360p .jp-video-play {
  margin-top: -360px;
  height: 360px; }

.jp-video-full .jp-video-play {
  height: 100%; }

.jp-video-full video, .jp-video-full object, .jp-video-full .jp-player, .jp-video-full {
  width: 100% !important;
  height: 100% !important;
}

.jp-video-full {
  .jp-controls-holder{
    opacity: 1;
  }
  .jp-type-single {
    height: 100%;
  }
  .video-and-overlay-container {
    height: 100%;
  }
}

//play icon overlay on center of video
.jp-video-play-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../images/hubdubplay.svg") center center no-repeat;
  text-indent: -9999px;
  border: none;
  cursor: pointer;
  background-size: 100px 100px;
}

.jp-video-play-icon:focus, .jp-video-play-icon:hover {
  background: url("../images/hubdubplay.svg") center center no-repeat;
  background-size: 100px 100px;
}

.jp-jplayer audio,
.jp-jplayer {
  width: 0px;
  height: 0px; }

.jp-jplayer {
  background-color: $background; }

/* @group TOGGLES */
/* The audio toggles are nested inside jp-time-holder */
.jp-toggles {
  padding: 0;
  margin: 0 auto;
  overflow: hidden; }

.jp-audio .jp-type-single .jp-toggles {
  width: 25px; }

.jp-audio .jp-type-playlist .jp-toggles {
  width: 55px;
  margin: 0;
  position: absolute;
  left: 325px;
  top: 50px; }

.jp-video .jp-toggles {
  margin: 0;
  text-align: right;
}

.jp-full-screen, .jp-repeat {
  display: block;
  float: left;
  height: 40px;
  margin: 0;
  padding: 0;
  width: 10%;
  text-indent: -9999px;
  line-height: 100%;
  /* need this for IE6 */
  border: none;
  cursor: pointer; }

.jp-full-screen {
  background: url("../images/expand.svg") center right no-repeat $background;
  opacity: .5;
  -webkit-transition: all .2s;-moz-transition: all .2s;-ms-transition: all .2s;-o-transition: all .2s;transition: all .2s;
}

.jp-full-screen:focus, .jp-full-screen:hover {
  background: url("../images/expand.svg") center right no-repeat $background;
  opacity: 1;
}

.jp-state-full-screen .jp-full-screen {
  background: url("../images/expand.svg") center right no-repeat $background; }

.jp-state-full-screen .jp-full-screen:focus {
  background: url("../images/expand.svg") center right no-repeat $background; }

.jp-repeat {
  background: url("../images/replay.svg") right center no-repeat;
  height: 27px;
  width: 15%;
  float: right;
  opacity: .5;
  -webkit-transition: opacity .2s;-moz-transition: opacity .2s;-ms-transition: opacity .2s;-o-transition: opacity .2s;transition: opacity .2s;
  &:hover, &:focus {
    opacity: 1;
    background: url("../images/replay.svg") right center no-repeat;
  }
}

.jp-repeat:focus {
  background: url("../images/replay.svg") right center no-repeat; }

.jp-state-looped .jp-repeat {
  background: url("../images/replay.svg") right center no-repeat;
  opacity: 1;
}

.jp-state-looped .jp-repeat:focus {
  background: url("../images/replay.svg") right center no-repeat;
  opacity: .5;
}

.jp-shuffle {
  background: url("../images/jplayer.blue.monday.jpg") 0 -270px no-repeat;
  margin-left: 5px; }

.jp-shuffle:focus {
  background: url("../images/jplayer.blue.monday.jpg") -30px -270px no-repeat; }

.jp-state-shuffled .jp-shuffle {
  background: url("../images/jplayer.blue.monday.jpg") -60px -270px no-repeat; }

.jp-state-shuffled .jp-shuffle:focus {
  background: url("../images/jplayer.blue.monday.jpg") -90px -270px no-repeat; }

/* @end */
/* @group NO SOLUTION error feedback */
.jp-no-solution {
  padding: 5px;
  font-size: 1em;
  font-family: Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
  font-family: inherit;
  background-color: $white;
  border: 2px solid orangered;
  color: $black;
  display: none; }

.jp-no-solution a {
  color: $black; }

.jp-no-solution span {
  font-size: 1em;
  display: block;
  text-align: center;
  font-weight: bold; }

/* @end */

.hubdub-video {
  margin-bottom: 20px;
}

.hubdub-video video {
  height: 100% !important;
  width: 100% !important;
}

/* Youtube video styles */
.youtube-video {
  &:not(.jp-state-playing) .jp-gui {
    display: none;
  }
  .jp-gui-play-icon {
    display: none;
  }
}